{% extends 'main/base.html' %}
{% block head %} 
{% load static %}
	<link rel="stylesheet" href="{% static 'css/edit_forms.css' %}" />
{% endblock head %}
{% block content %}
	<form
		method="post"
		class="edit-form"
		action="{% url 'edit_event' event.id %}"
	>
		<div class="form-container">
			{% csrf_token %} {{ form.media }}
			<div class="row justify-content-center">
				<div class="form-group col-md-6">
					{{ form.title }}
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="form-group col-md-6">
					{{ form.description.label }} {{ form.description }}
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="form-group col-md-3">
					{{ form.gender.label }} {{ form.gender }}
				</div>
				<div class="form-group col-md-3">
					{{ form.team.label }} {{ form.team }}
				</div>
			</div>
			<div class="row justify-content-center">
				<button type="submit" class="btn btn-primary mb-2">
					Save Event
				</button>
			</div>
		</div>
	</form>
	<div class="row justify-content-center">
		{% for activity in activities %}
			Activity:   <a href="{% url 'edit_activity' activity.id %}">{{activity}}</a>
			{% if activity.is_active %}
				<i class="bx bx-check-circle"></i>
			{% else %}
				<i class="bx bxs-no-entry"></i>
			{% endif %}
			{% empty %}
			No activities
		{% endfor %}
	</div>

{% endblock content %}

