{% extends  'main/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_forms.css' %}">
{% endblock head %}
{% block content %}
{% load crispy_forms_tags %}
Date Clinic: <a href="{% url 'edit_clinic' clinic.id %}">{{clinic}}</a>
<form class="edit-form" method="post" action="{% url 'edit_date' date.id %}">
  {% csrf_token %}
  {{form.clinic}}
  {{form.datetime_start.label}}
  {{form.datetime_start}}
  {{form.datetime_end.label}}
  {{form.datetime_end}}
  {{form.capacity.label}}
  {{form.capacity}}
  <br>
  <input type="text" id="filterInput" onkeyup="filterParticipants()" placeholder="Filter participants" class="form-control">
  {{form.participants.label}}
  {{form.participants}}
  <br>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary mb-2">Save Date</button>
  </div>
</form>

<ul>
  {% for participant in participants %}
  <li>{{participant}}</li>
  {% endfor %}
</ul>
{% endblock content %}