{% extends 'main/base.html' %}

{% block head %}
<script>
    var editActivityURL = "{% url 'edit_activity' activity.id %}";
    var homeURL = "{% url 'home' %}";
</script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<script src="{% static 'js/forms.js' %}"></script>
{% endblock head %}

{% block content %}

<form method="post" action="{% url 'edit_activity' activity.id %}">
    <div class="form-container">
        {% csrf_token %} {{ form.media }}
        {% if activity.event %}
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                Current Event: <br> <a href="{% url 'edit_event' event.id %}">{{ event }}</a>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                {{ form.event.label }} {{ form.event }}
                {% if form.event.errors %}
                <span class="form-error" role="alert">
                    {{ form.event.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                {{ form.title.label }} {{ form.title }}
                {% if form.title.errors %}
                <span class="form-error" role="alert">
                    {{ form.title.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                {{ form.type.label }} {{ form.type }}
                {% if form.type.errors %}
                <span class="form-error" role="alert">
                    {{ form.type.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                {{ form.recurrences.label }} {{ form.recurrences }}
                {% if form.recurrences.errors %}
                <span class="form-error" role="alert">
                    {{ form.recurrences.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                {{ form.start_time.label }} {{ form.start_time }}
                {% if form.start_time.errors %}
                <span class="form-error" role="alert">
                    {{ form.start_time.errors }}
                </span>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                {{ form.end_time.label }} {{ form.end_time }}
                {% if form.start_time.errors %}
                <span class="form-error" role="alert">
                    {{ form.end_time.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                {{ form.capacity.label }} {{ form.capacity }}
                {% if form.capacity.errors %}
                <span class="form-error" role="alert">
                    {{ form.capacity.errors }}
                </span>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                {{ form.is_active.label }} {{ form.is_active }}
                {% if form.is_active.errors %}
                <span class="form-error" role="alert">
                    {{ form.is_active.errors }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary mb-2">
                Save Activity
            </button>
        </div>
    </div>
</form>
<div class="row justify-content-center">
    <table class="form-table">
        <h4>Dates</h4>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Courts</th>
            <th scope="col">Pros</th>
            <th scope="col">Participants</th>
            <th scope="col">Capacity</th>
          </tr>
        </thead>
        <tbody>
          {% for date in dates %}
            <tr class="clickable-row" data-href="{% url 'edit_date' date.id %}">
                <td data-label="Date">{{ date.datetime_start|date:"D, M d, Y" }}</td>
                <td data-label="Time">{{ date.datetime_start|time:"h:i A" }} - {{ date.datetime_end|time:"h:i A" }}</td>
                <td data-label="Courts">{{date.print_courts}}</td>
                <td data-label="Pros">{{date.print_pros}}</td>
                <td data-label="Participants">{{date.participants.count}}</td>
                <td data-label="Capacity">{{date.capacity}}</td>
            </tr>
            {% endfor %}    
        </tbody> 
      </table>

      <div class="row justify-content-center">
        <button type="button" class="btn btn-danger mb-2" id="delete-activity">
            Delete Activity
        </button>
    </div>
</div>
{% endblock content %}
