{% extends 'main/base.html' %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'css/edit_forms.css' %}" />
{% endblock head %} {% block content %}
<form
	method="post"
	class="edit-form"
	action="{% url 'edit_date' date.id %}"
>
	<div class="form-container">
		{% csrf_token %} {{ form.media }}
		<div class="row justify-content-center">
			<div class="form-group col-md-6">
				<a href="{% url 'edit_activity' activity.id %}">{{activity}}</a>
				{{ form.activity }}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-3">
				{{ form.datetime_start.label }} {{ form.datetime_start }}
			</div>
			<div class="form-group col-md-3">
        {{ form.datetime_end.label }} {{ form.datetime_end }}
      </div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-3">
				{{ form.capacity.label }} {{ form.capacity }}
			</div>
			<div class="form-group col-md-3">
				{{ form.court.label }} {{ form.court }}
			</div>
		</div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-primary mb-2">
				Save Date
			</button>
		</div>
	</div>
</form>
{% endblock content %}
