{% extends  'main/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block content %}
<div class="app-container">
<div class="app-header">
  <div class="app-header-left">
    <span class="app-icon"></span>
    <p class="app-name">Portfolio</p>
    <div class="search-wrapper">
      <input class="search-input" type="text" placeholder="Search">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search"
        viewBox="0 0 24 24">
        <defs></defs>
        <circle cx="11" cy="11" r="8"></circle>
        <path d="M21 21l-4.35-4.35"></path>
      </svg>
    </div>
  </div>
  <div class="app-header-right">
    {% if user.is_staff %}
    <button class="add-btn" title="Add New Project">
      <i class='bx bx-plus' ></i>
    </button>
    {% endif %}
    <button class="profile-btn">
    <img src="{{ user.profile_pic.url }}" />
    <span>{{request.user}}</span>
    </button>
  </div>
</div>
<div class="app-content">
<div class="projects-section">
  <div class="projects-section-header">
    <p>{{ page_title }}</p>
    <p class="time">{% now "D jS, F, Y" %}</p>
  </div>
  <div class="projects-section-line">
    <div class="projects-status">
      {% for title, count in titles.items  %}
      <div class="item-status">
        <span class="status-number">{{ count }}</span>
        <span class="status-type">{{ title }}</span>
      </div>
      {% empty %}
      {% endfor %}
    </div>
    <div class="view-actions">
      <button class="view-btn list-view" title="List View">
        <i class='bx bx-list-ul'></i>
      </button>
      <button class="view-btn grid-view active" title="Grid View">
        <i class='bx bxs-grid-alt' ></i>
      </button>
    </div>
  </div>
  {% if next_event and page_title == "My Events" %}
  <b>Your next event is on
  {{user.get_fut_participations_registered.0.date.datetime_start|date:"l, M jS g:i A" }} for
  {{user.get_fut_participations_registered.0.date.clinic.event.title}}</b>
  {% elif page_title == "My Events" %}
  You haven't registered for any event yet
  {% endif %}
  <div class="project-boxes jsGridView">
    {% for event in events %}
    <div class="project-box-wrapper">
      {% if event.gender == 'M' %}
      <div class="project-box" style="background-color: #bbc4ee;">
        {% elif event.gender == 'F' %}
        <div class="project-box" style="background-color: #efd4f6;">
          {% else %}
          <div class="project-box" style="background-color: #faebd7;">
            {% endif %}
            <div class="project-box-header">
              <span>{{event.print_next_date}}</span>
              {% if user.is_staff %}
              <div class="more-wrapper">
                <a class="project-btn-more" href="{% url 'edit_event' event.id %}"><i class='bx bx-pencil' ></i></a>
              </div>
              {% endif %}
            </div>
            <div class="project-box-content-header">
              <a class href="{% url 'event' event.id %}"></a>
              <p class="box-content-header">{{event.title}}</p>
              <p class="box-content-subheader">
                {% if event.gender == 'M' %} Men
                {% elif event.gender == 'F' %} Ladies
                {% else %} {{event.get_gender_display}}
                {% endif %} <br>
                {{event.get_team_display}}
              </p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Availability</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: {{event.get_fullness}};"></span>
              </div>
              <p class="box-progress-percentage">{{event.get_fullness}}</p>
            </div>
            <div class="project-box-footer">
              <a href="{% url 'event_participants' event.id %}">
                <div class="participants">
                  {% for participant in event.get_participants %}
                  <img
                  src="{{participant.profile_pic.url}}"
                  alt="{{participant}}">
                  {% endfor %}
                  <button class="add-participant">
              <a href="{% url 'event' event.id %}"><i class='bx bxs-user-plus'></i></a>
              </button>
              </div>
              </a>
              <div class="days-left">
                {{event.get_remaining_days}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>
{% endblock content %}