{% extends 'main/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="app-container">
        <div class="app-header">
            <div class="app-header-left">
                <span class="app-icon"></span>
                <p class="app-name">Portfolio</p>
                {% csrf_token %}
                <div class="search-wrapper">
                    <input id="search-input" name="search-input" class="search-input" type="text" placeholder="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                        <defs></defs>
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="M21 21l-4.35-4.35"></path>
                    </svg>
                </div>
            </div>
            <div class="app-header-right">
                {% if user.is_staff %}
                    <button class="add-btn" title="Add New Activity">
                        <i class='bx bx-plus'></i>
                    </button>
                {% endif %}
                <a href="{% url 'edit_profile' %}">
                    <button class="profile-btn">
                        <img src="{{ user.profile_pic.url }}" />
                        <span>{{ request.user }}</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="app-content">
            <div class="projects-section">
                <div class="projects-section-header">
                    <p>{{ page_title }}</p>
                    <p class="time">{% now "l, F j" %}</p>
                </div>
                <div class="projects-section-line">
                    <div class="projects-status">
                        {% for title, count in titles.items %}
                            <div class="item-status">
                                <span class="status-number">{{ count }}</span>
                                <span class="status-type">{{ title }}</span>
                            </div>
                        {% empty %}
                        {% endfor %}
                    </div>
                    <div class="view-actions">
                        <button class="view-btn list-view" title="List View">
                            <i class='bx bx-list-ul'></i>
                        </button>
                        <button class="view-btn grid-view active" title="Grid View">
                            <i class='bx bxs-grid-alt'></i>
                        </button>
                    </div>
                </div>
                {% if next_activity and page_title == "My Activities" %}
                    <b>Your next activity is {{ next_activity }}</b>
                {% elif page_title == "My Activities" %}
                    You have no future activities yet
                {% endif %}
                <div class="project-boxes jsGridView">
                    {% for activity in activities %}
                        {% if activity.type == "clinic" %}
                            <div class="project-box-wrapper">
                                {% if activity.event.gender == 'M' %}
                                    <div class="project-box men">
                                {% elif activity.event.gender == 'F' %}
                                    <div class="project-box ladies">
                                {% else %}
                                    <div class="project-box mixed">
                                {% endif %}
                                    <div class="project-box-header">
                                        <span>{{ activity.print_next_date }}</span>
                                        {% if user.is_staff %}
                                            <div class="more-wrapper">
                                                <a class="project-btn-more" href="{% url 'edit_event' activity.event.id %}">
                                                    <i class='bx bx-dots-vertical-rounded'></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="project-box-content-header">
                                        <a href="{% url 'event' activity.event.id %}"></a>
                                        <p class="box-content-header">{{ activity.get_title }}</p>
                                        <p class="box-content-subheader">
                                            {{activity.get_next_date.print_courts}} <br>
                                            {{activity.get_next_date.get_formatted_duration}} <br>
                                            {{activity.get_next_date.print_pros}}
                                        </p>
                                    </div>
                                    <div class="box-progress-wrapper">
                                        <p class="box-progress-header">
                                            {% if activity.get_next_date.get_rem_spots < 1 %}
                                                Full
                                            {% elif activity.get_next_date.get_rem_spots == 1 %}
                                                {{ activity.get_next_date.get_rem_spots }} spot left
                                            {% else %}
                                                {{ activity.get_next_date.get_rem_spots }} spots left
                                            {% endif %}
                                        </p>
                                        <div class="box-progress-bar">
                                            <span class="box-progress" style="width: {{ activity.get_next_date.get_cap_pct }};"></span>
                                        </div>
                                    </div>
                                    <div class="project-box-footer">
                                        <button class="add-participant">
                                            <a href="{% url 'event' activity.event.id %}">
                                                <i class='bx bxs-user-plus'></i>
                                            </a>
                                        </button>
                                        <div class="participants">
                                            {% for participant in activity.get_participants %}
                                                <img src="{{ participant.profile_pic.url }}" alt="{{ participant }}">
                                            {% endfor %}
                                        </div>
                                        <div class="days-left">
                                            <a href="{% url 'event_participants' activity.event.id %}">
                                                {{ activity.get_next_date.print_remaining_days }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="project-box-wrapper">
                                <div class="project-box court">
                                    <div class="project-box-header">
                                        <span>{{activity.print_next_date}}</span>
                                        {% if user.is_staff %}
                                            <div class="more-wrapper">
                                                <a class="project-btn-more" href="{% url 'edit_activity' activity.id %}">
                                                    <i class='bx bx-dots-vertical-rounded'></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="project-box-content-header">
                                        <a href="{% url 'edit_activity' activity.id %}"></a>
                                        <p class="box-content-header">{{ activity.get_type_display }}</p>
                                        <p class="box-content-subheader">
                                            {{activity.get_next_date.print_courts}} <br>
                                            {{activity.get_next_date.get_formatted_duration}} <br>
                                            {% if activity.type == 'private' %}
                                                Pro: {{activity.get_next_date.get_pro}}
                                            {% else %}
                                                Host: {{activity.get_next_date.get_host}}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="box-progress-wrapper">
                                        <p class="box-progress-header">
                                            {% if activity.get_next_date.get_rem_spots < 1 %}
                                                Full
                                            {% elif activity.get_next_date.get_rem_spots == 1 %}
                                                {{ activity.get_next_date.get_rem_spots }} spot left
                                            {% else %}
                                                {{ activity.get_next_date.get_rem_spots }} spots left
                                            {% endif %}
                                        </p>
                                        <div class="box-progress-bar">
                                            <span class="box-progress" style="width: {{ activity.get_next_date.get_cap_pct }};"></span>
                                        </div>
                                    </div>
                                    <div class="project-box-footer">
                                        <button class="add-participant">
                                            <a href="{% url 'edit_activity' activity.id %}">
                                                <i class='bx bxs-user-plus'></i>
                                            </a>
                                        </button>
                                        <div class="participants">
                                            {% for participant in activity.get_participants %}
                                                <img src="{{ participant.profile_pic.url }}" alt="{{ participant }}">
                                            {% endfor %}
                                        </div>
                                        <div class="days-left">
                                            <a href="#">
                                                {{ activity.next_date.print_remaining_days }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
