/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #4067f9;
  --title-color: hsl(228, 12%, 15%);
  --text-color: hsl(228, 8%, 50%);
  --body-color: hsl(228, 100%, 99%);
  --container-color: #fff;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
}
@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1 {
  color: var(--title-color);
}

a {
  text-decoration: none;
}

div.label {
  float: left;
  clear: left;
}

/*=============== NAV ===============*/

.section {
  padding: 1rem 2rem;
  overflow-x: hidden;
  width: 100%;
  min-width: 95% !important;
  justify-content: center;
}

.nav__list a, .nav__list a:visited, .nav__list a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.nav__list a:hover {
  color: var(--first-color );
}

.nav__list a span, .nav__list a span:visited, .nav__list a span:hover {
  color: var(--title-color);
}

.form-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


/* When nav is on the bottom with the full width */
@media screen and (max-width: 767px) {
  .section {
    margin-bottom: 120px;
  }

  .space_for_nav {
    height: 105px;
  }

  .nav__logo, .nav__toggle, .nav__name {
    display: none;
  }
  .nav__list {
    position: fixed;
    bottom: 10px;
    background-color: var(--container-color);
    box-shadow: 0 8px 24px hsla(228deg, 81%, 24%, 0.15);
    width: 90%;
    padding: 30px 40px;
    max-height: 100px;
    border-radius: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 36px;
         column-gap: 36px;
    transition: 0.4s;
    z-index: 100000 !important;
  }

  .nav__list i {
    font-size: 2.2rem !important;
  }

}
.nav__link, .nav__link:visited, .nav__link:hover{
  display: flex;
  color: var(--title-color);
  font-weight: 500;
  transition: 0.3s;
}

/* Active link */
.active-link, .active-link:visited,  .active-link:hover, .active-link span, .active-link span:visited{
  color: var(--first-color) !important;
}

/*=============== BREAKPOINTS ===============*/

/* When nav is at the bottom with a larger height */
@media screen and (max-width: 520px) {

}

/* When nav is at the bottom very slim. Max width 320 px */
@media screen and (max-width: 320px) {
  .nav__list {
    row-gap: 100rem !important;
  }

  .nav__list i {
    font-size: 1.3rem !important;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    width: 600px;
    column-gap: 5rem !important;
  }
  .nav__list i {
    font-size: 2.0rem !important;
  }
}


/* When the nav is on the left */
@media screen and (min-width: 767px) {
  .nav {
    position: fixed;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 4px hsla(228deg, 81%, 49%, 0.15);
    width: 84px;
    height: 100%;
    padding: 1rem;
    transition: 0.3s;
    z-index: 1000 !important;
  }

  .section {
    margin-left: 84px;
  }


  .nav__logo, .nav__logo:visited, .nav__logo:hover{
    font-size: 20px;
    display: flex;
  }

  .nav__logo i , .nav__logo i:visited, .nav__logo i:hover{
    font-size: 2.1rem;
    margin: 0.2rem;
    color: var(--first-color);
  }


  .nav__logo-name, .nav__logo-name:visited, .nav__logo-name:hover{
    color: var(--title-color);
    font-weight: 800;
  }
  
  .nav__logo, .nav__link {
    align-items: center;
    -moz-column-gap: 1.4rem;
         column-gap: 1.4rem;
  }
  .nav__list {
    display: grid;
    font-size: 22px;
    row-gap: 2.5rem;
    margin-top: 10.5rem;
  }


  .nav__list i {
    font-size: 2.6rem;
    margin-left: 0.8rem;
    margin-right: 0.4rem;
  }

  .nav__content {
    overflow: hidden;
    height: 100%;
  }
  .nav__toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--title-color);
    color: #fff;
    border-radius: 50%;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    top: 2rem;
    right: -10px;
    cursor: pointer;
    transition: 0.4s;
  }
}
/* Show menu */
.show-menu {
  width: 255px;
}

/* Rotate toggle icon */
.rotate-icon {
  transform: rotate(180deg);
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }
}
@media screen and (min-width: 3840px) {
  body {
    zoom: 2.5;
  }
}